{% extends 'main.html' %}

{% load static %} 
{% block content %}


<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body style="background-color: #f3f3f3;">
	<br><br>
	<div class="signup_login_main_container">
		<h3>Login</h3>
		<br>
		<div class="login_form_container">
			<form action="{% url 'login' %}" method="post">
			 	{% csrf_token %}
			    {{ form }}	
				<input type="submit" value="Login">
			</form>
			<hr style="width: 95%">
			<div class="create_new_account_container">
				<a href="{% url 'signup' %}"><button id="create_new_account_button">Create New Account</button></a>
			</div>
		</div>
		<br><br>
	</div>
</body>
</html>


{% endblock %} 
